/* Header Layout */
.header {
    display: flex;
    justify-content: space-between; /* Space between columns */
    align-items: center; /* Align elements vertically */
    width: 100%;
    padding: 5px 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--toggle-bg);
}

/* Center Column (Title + Subtitle) */
.center-column {
    width: 50vw; /* Fixed to 2/4 (or 1/2) of the screen width */
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow if the title is too long */
    text-overflow: ellipsis; /* Add "..." if the title is too long */
}

.page-title {
    font-size: 3vh;
    /* font-weight: bold; */
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

/* .page-subtitle {
    font-size: 16px;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
} */
