/* Left Column (Menu Icon) */
.menu-icon-container {
    width: 25vw; /*Fixed to 1/4 of the screen width*/
    text-align: left;
    display: flex;
    align-items: center;
    font-size: 3vh;
    color: var(--toggle-border);
}

.menu-icon {
    cursor: pointer;
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    z-index: 200;
}

.menu-overlay.active {
    opacity: 1;
    visibility: visible;
}

/* Menu Box */
.menu-box {
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

/* Button Styles - Open Menu */
.menu-box a {
    display: block; /* Full-width buttons */
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 8px;
    margin: 10px 0; /* Space between buttons */
    transition: background 0.3s ease, transform 0.2s ease;
}

/* Button Colors for light mode */
.menu-box a:nth-child(1) { background: #9933ff; color: white; }
.menu-box a:nth-child(2) { background: #4da6ff; color: white; }
.menu-box a:nth-child(3) { background: #33cc33; color: white; }
.menu-box a:nth-child(4) { background: #ffcc00; color: white; }
.menu-box a:nth-child(5) { background: #ff4d4d; color: white; }
/* .menu-box > log { background: #9933ff; color: white; } */

/* Button Colors for light mode */
.dark-mode .menu-box a:nth-child(1) { background: #6b23b5; color: black; }
.dark-mode .menu-box a:nth-child(2) { background: #3575b9; color: black; }
.dark-mode .menu-box a:nth-child(3) { background: #248624; color: black; }
.dark-mode .menu-box a:nth-child(4) { background: #b39500; color: black; }
.dark-mode .menu-box a:nth-child(5) { background: #b33636; color: black; }
/* .dark-mode .menu-box #log { background: #6b23b5; color: black; }  Violet foncé */

/* Hover Effect */
.menu-box a:hover {
    transform: scale(1.05); /* Slightly enlarges on hover */
    opacity: 0.9;
}
